NODE_ENV=
PORT=

FRONTEND_URL=

DATABASE_URL=

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_WEB_API_KEY=
FIREBASE_WEB_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ADMIN_EMAIL=
ADMIN_FIREBASE_UID=
ADMIN_NAME=

AI_API_KEY=