node_modules
.env
.env.*
!.env.example
dist
src/generated
prisma/migrations
/src/generated/prisma
greenstatesbd.keys.json
uploads
*.log
.DS_Store
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.iml
*.sln
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.pid
*.seed
